.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .syllable-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0;
  }
  